<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact list</title>
    <script src="https://kit.fontawesome.com/fdfd6c296d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <div class="box" id="heading">
        <h1><%= date %> </h1>
    </div>

    <div class="box">
        <% for(let i = 0; i < myWishes.length; i++) { %>
            <form action="/" method="POST">
                <div class="item">
                    <p><%= myWishes[i].description %></p>
                    <p><%= myWishes[i].date %></p>
                </div>
            </form>
        <% } %>   
    </div>
    
    <footer>
        <span>Tõnu K. &#169; 2021</span>
    </footer>
</body>
</html>